/* index.css */

body {
  margin: 0;
  background: linear-gradient(-45deg, #1a2a6c, #b21f1f, #fdbb2d, #1a2a6c);
  background-size: 400% 400%;
  animation: gradientScroll 20s ease infinite;
  transition: background 1s ease;
}
body[data-section="about"] {
  background: linear-gradient(-45deg, #2b1055, #7597de, #2b1055);
}

body[data-section="experience"] {
  background: linear-gradient(-45deg, #1e293b, #334155, #1e293b);
}

body[data-section="technologies"] {
  background: linear-gradient(-45deg, #3b82f6, #06b6d4, #67e8f9);
}

body[data-section="contact"] {
  background: linear-gradient(-45deg, #0f172a, #3b0764, #0f172a);
}

@keyframes gradientScroll {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes bounce-icon {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}




.slick-track {
  overflow: visible !important;
}

.slick-slide {
  overflow: visible !important;
}
